/*Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

/*Import icons from Google Icons*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

/*Set colours as variables to be used throughout the webpage*/
:root {
    --roncalli-red: rgba(128, 29, 57, 1);
    --roncalli-blue: rgba(102, 196, 208, 1);
    --roncalli-yellow: rgb(255, 194, 14);
    --background: rgb(43, 43, 43);
    --text-light: rgb(255, 255, 255);
    --text-dark: rgb(0, 0, 0);
    --link-light:rgb(185, 185, 185);
    --link-dark:rgb(90, 90, 90);
    --link-light-hover:rgb(240, 240, 240);
    --link-dark-hover:rgb(15, 15, 15);
}

/*Set styles that are to be applied throughout the page*/
*{
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
    background-color: var(--background);
    margin: 0rem;
}

/*Set the styles for the navigation menu(s)*/
.navigation{
    overflow-x: hidden;
}

nav{
    margin: 0rem;
    background-color: var(--roncalli-red);
    border-style: solid;
    border-width: 0.5rem;
    border-color: var(--roncalli-yellow);
    padding: 1rem 1.5rem 1rem 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
    height: 5.5rem;
    width: 100%;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
}

nav .teamName{
    color: #eeeeee;
    font-family: "Bungee Shade", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
}

nav .buttons{
    margin: 0rem 1rem;
}

nav .button{
    color: var(--text-light);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: none;
    background-color: rgb(50, 50, 50);
    display: inline-block;
    cursor: pointer;
    padding: 0.75rem 1rem;
    margin: 0.25rem 0.5rem;
    transition: all;
    transition-duration: 0.25s;
}

nav .button:hover{
    background-color: rgb(20, 20, 20);
}

nav .menuButton{
    color: var(--link-light);
    font-size: 3rem;
    display: block;
    transition: all;
    transition-duration: 0.25s;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

nav .menuButton:hover{
    color: var(--link-light-hover);
}

menu{
    background-color: var(--roncalli-red);
    border-style: solid;
    border-width: 0rem 0.5rem 0.5rem 0.5rem;
    border-color: var(--roncalli-yellow);
    padding: 1rem 1.5rem 1rem 1.5rem;
    height: calc(100vh - 5.5rem);
    width: 100%;
    margin: 0rem;
    position: absolute;
    top: 5.5rem;
    left: 0%;
    transform: translateX(100%);
}

menu .buttons{
    margin: 0rem;
    display: flex;
    flex-direction: column;
}

menu .button{
    color: var(--text-light);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: none;
    background-color: rgb(50, 50, 50);
    display: inline-block;
    cursor: pointer;
    padding: 0.75rem 1rem;
    margin: 0.25rem 0rem;
    transition: all;
    transition-duration: 0.25s;
}

menu .button:hover{
    background-color: rgb(20, 20, 20);
}

nav .menuButton{
    display: none;
}

menu {
    display: none;
}

/*Set the styles for the navigation menu specifically on smaller screens*/
@media (max-width: 1255px) {
    nav .buttons {
        display: none;
    }

    nav .menuButton {
        display: block;
    }

    menu{
        display: block;
    }
}

/*Set the styles for the scroll to top Button*/
.ScrollToTopButton{
    display: none;
    color: var(--link-light);
    background-color: var(--roncalli-red);
    border-style: solid;
    border-width: 0.5rem;
    border-color: var(--roncalli-yellow);
    border-radius: 1rem;
    padding: 0.5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    transition: all;
    transition-duration: 0.25s;
}

.ScrollToTopButton:hover{
    color: var(--link-light-hover);
}

/*Set the styles for the page Header/Hero*/
header{
    background-image: url("https://placehold.co/2000x700.png?text=Add+Group+Image+Here");
    background-color: var(--roncalli-blue);
    min-height: min(75vh, 32.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    display: flex;
}

header .headerText{
    flex-basis: 40%;
    text-align: center;
    align-self: center;
    padding: 2rem;
}

header h1{
    font-family: "Bungee Shade", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: transparent;
    background: linear-gradient(90deg, rgb(245, 0, 0), rgb(0, 0, 240), rgb(245, 0, 0));
    background-size: 25%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    font-size: 3em;
    margin: 0rem;
}

/*Set the basic styles for the main content in the page*/
main{
    margin: -1rem 2rem 1rem 2rem;
    color: var(--text-light);
}

main h1{
    color: var(--text-light);
    font-size: 3rem;
    margin: 3rem 0rem 0rem 0rem;
    letter-spacing: 0.1rem;
}

main p{
    font-size: 1.5rem;
}

main a{
    color: var(--link-light);
}

main a:hover{
    color: var(--link-light-hover);
}

/*Set the styles for the footer*/
footer{
    background-color: var(--roncalli-red);
    border-style: solid;
    border-width: 0.5rem;
    border-color: var(--roncalli-yellow);
    min-height: 15rem;
    color: var(--text-light);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0rem 1rem;
    text-align: center;
}

footer div{
    margin: 0rem 1rem;
}

footer h1{
    font-family: "Bungee Shade", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 5rem;
    margin: 0rem 0rem;
}

footer h2{
    text-transform: uppercase;
}
    
@media (max-width: 1055px) {
    footer{
        grid-template-columns: auto;
    }
    footer h1{
        font-size: max(8vw, 2rem);
    }
}